<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
  http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
  
  <context:property-placeholder location="was/dataSources.properties" ignore-unresolvable="true" />
 
  <import resource="classpath:prod-was/applicationProperties.xml" />
  <import resource="classpath:was/txManager.xml" />
  <import resource="classpath:was/dataSources.xml" />
  <import resource="classpath:was/jpa.xml" />
  <import resource="classpath:jndi/jms.xml" />
  <import resource="classpath:was/messageListener.xml" />
  <import resource="classpath:was/securityContext.xml" />

 
</beans>