<h4>
    <strong>{{t "Gloria.i18n.material.requests.text.location"}}</strong>
</h4>
<div id="generalInfo"></div>
<h4>
    <strong>{{t "Gloria.i18n.material.requests.text.items"}}</strong>
</h4>
<div class="button-bar">
	<div class="row">
	    <div class="col-sm-6">       
        	<div class="noprint">
	    		<a class="btn btn-default" id="remove-button" name="remove" disabled="true">{{t "Gloria.i18n.material.requests.requestLater"}}</a>
			</div>
     	</div>        
	</div>
</div>
<div id="gridInfo"></div><br><br><br><br>
<div align="center" class="button-bar floatFooter">
    <div class="noprint">
    	<a class="btn btn-default" name = "save" id="save-button">{{t "Gloria.i18n.buttons.save"}}</a>
        <a class="btn btn-default" name = "send" id="send-button">{{t "Gloria.i18n.buttons.send"}}</a>
        <a class="btn btn-default" name = "cancel" id="cancelrequestlist-button">{{t "Gloria.i18n.buttons.cancelrequestlist"}}</a>
        <a class="btn btn-default" name = "close" id="cancel-button">{{t "Gloria.i18n.buttons.close"}}</a>
    </div>
</div>
