<div data-role="content" id="module-info">
	<div class="row">
		<div class="col-sm-12">
			<div class="noprint">
				{{#hasPermission "edit" 0="Pick"}} <a class="btn btn-default"
					id="create-button" disabled="true">{{t
					"Gloria.i18n.warehouse.pick.button.createPickList"}}</a>{{/hasPermission}}
				<a class="btn btn-default"
					id="cancel-button" disabled="true">{{t
					"Gloria.i18n.warehouse.pick.button.cancelPickList"}}</a>
				<a id="clear-filter" class="clear-filter">{{t
					"Gloria.i18n.gridpanel.clearFilter"}}</a>
			</div>

		</div>
	</div>
</div>