<div  class="well well-small">
   
            <div class='row'>
             <div class='col-sm-2'>
                    <div class='form-group'>
                        <label class="control-label">
                            {{t "Gloria.i18n.warehouse.ship.header.projectId"}}: 
                        </label>
                        <div class="controls">
                            <span>{{requestGroupModel.projectId}}</span>
                        </div>
                    </div>
                </div>
                
             <div class='col-sm-2'>
                    <div class='form-group'>
                        <label class="control-label">
                            {{t "Gloria.i18n.warehouse.ship.header.referenceGroup"}}: 
                        </label>
                        <div class="controls">
                            <span>{{requestGroupModel.referenceGroup}}</span>
                        </div>
                    </div>
                </div>
           	 <div class='col-sm-2'>
                    <div class='form-group'>
                        <label class="control-label">
                            {{t "Gloria.i18n.warehouse.ship.header.referenceId"}}: 
                        </label>
                        <div class="controls">
                            <span>{{requestGroupModel.referenceId}}</span>
                        </div>
                    </div>
               </div>
             <div class='col-sm-2'>
                    <div class='form-group'>
                        <label class="control-label">
                            {{t "Gloria.i18n.warehouse.ship.header.changeRequestIds"}}: 
                        </label>
                        <div class="controls">
                            <span>{{requestGroupModel.changeRequestIds}}</span>
                        </div>
                    </div>
               </div>
                
            </div>
     
</div>
