<div class="row">
	<div class="col-sm-2">
		<div class="form-group">
			<div class="controls">
				<select id="rackStorageRoom" class="form-control">
				</select>
			</div>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="form-group">
			<div class="controls">
				<select id="rackZone" class="form-control">
				</select>
			</div>
		</div>
	</div>
	{{#hasPermission "edit" 0="WarehouseSetup"}}
	<div class="col-sm-2">
		<div class="form-group">
			<div class="controls">
				<a class="btn btn-default" id="rackAddNew" disabled="true">{{t
					"Gloria.i18n.buttons.addNew"}}</a>
			</div>
		</div>
	</div>
	{{/hasPermission}}
</div>
