<h4>
	<strong class="control-label">
	    {{t "Gloria.i18n.warehouse.setup.text.warehouseInfo"}}
	</strong>
</h4>
<div class="well well-small">
    <div class='row'>
        <div class='col-sm-2'>
            <div class='form-group'>
                <label class="control-label" for='siteName'>
                    {{t "Gloria.i18n.warehouse.setup.text.name"}}: 
                </label>
                <div class="controls">
                    <span id="siteName">{{data.siteName}}</span>
                </div>
            </div>
        </div>
        <div class='col-sm-2'>
            <div class='form-group'>
                <label class="control-label" for='siteId'>
                    {{t "Gloria.i18n.warehouse.setup.text.siteId"}}: 
                </label>
                <div class="controls">
                    <span id="siteName">{{data.siteId}}</span>
                </div>
            </div>
        </div>
        <div class='col-sm-2'>
            <div class='form-group'>
                <label class="control-label" for='address'>
                    {{t "Gloria.i18n.warehouse.setup.text.address"}}: 
                </label>
                <div class="controls">
                    <span id="siteName">{{data.address}}</span>
                </div>
            </div>
        </div>
    </div>
</div>