<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			{{#if data.id}}
			<h3>{{t "Gloria.i18n.warehouse.qisettings.tabs.supplier.editSupplier"}} | {{t "Gloria.i18n.gloriaHeader"}}</h3>
			{{else}}
			<h3>{{t	"Gloria.i18n.warehouse.qisettings.tabs.supplier.addSupplier"}} | {{t "Gloria.i18n.gloriaHeader"}}</h3>
			{{/if}}
		</div>
		<div class="modal-body">
			<div>
				<div id="appModalMessage">
					<span class="help-inline"></span>
				</div>
				<form id="addEditSupplierForm" name="addEditSupplierForm" role="form">
					<fieldset>
						<input name='supplier[id]' type="hidden" value='{{data.id}}'>
						<div class='row'>
							<div class='col-sm-6'>
								<div class='form-group'>
									<label class="control-label required" for="supplier">{{t "Gloria.i18n.warehouse.qisettings.header.supplier"}}:
									</label>
									<div class="controls">
										<input id="supplier" name="supplier[supplier]" class="form-control" value="{{data.supplier}}" required maxlength="6">
									</div>
								</div>
							</div>
							<div class='col-sm-6'>
								<div class='form-group'>
									<label class="control-label" for="mandatory">{{t "Gloria.i18n.warehouse.qisettings.header.mandatory"}}:
									</label>
									<div class="controls">
										<select id="mandatory" name="supplier[mandatory]" class="form-control" >
											{{{renderDropDown inspectionOptions mandatory true}}}
										</select>					
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			{{#if data.id}}{{else}}
	            <label class="control-label" for="addAnother">
	            	<input id="addAnother" type='checkbox' />
	                {{t "Gloria.i18n.warehouse.qisettings.addAnother"}}
	            </label>
            {{/if}}
			<button type="button" class="btn btn-default" id="save">{{t "Gloria.i18n.buttons.save"}}</button>
			<button type="button" class="btn btn-default" id="cancel">{{t "Gloria.i18n.buttons.cancel"}}</button>
		</div>
	</div>
</div>
