<div id="moduleInfo"></div>
<div class="tabbable">
	<ul class="nav nav-tabs" id="qiSettingsTab">
		<li><a href="#part" data-toggle="tab">{{t "Gloria.i18n.warehouse.qisettings.tabs.part.part"}}</a></li>
		<li><a href="#project" data-toggle="tab">{{t "Gloria.i18n.warehouse.qisettings.tabs.project.project"}}</a></li>
		<li><a href="#supplier" data-toggle="tab">{{t "Gloria.i18n.warehouse.qisettings.tabs.supplier.supplier"}}</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane" id="part">
			<div id="partButton" class="button-bar"></div>
			<div id="partGrid"></div>
		</div>
		<div class="tab-pane" id="project">
			<div id="projectButton" class="button-bar"></div>
			<div id="projectGrid"></div>
		</div>
		<div class="tab-pane" id="supplier">
			<div id="supplierButton" class="button-bar"></div>
			<div id="supplierGrid"></div>
		</div>
	</div>
</div>