<div class="well well-small">
	<div class='row'>
		<div class='col-sm-2'>
			<div class='form-group'>
				<label class="control-label" for="contactPersonId"> {{t
					"Gloria.i18n.material.details.text.contactPersonId"}}: </label>
				<div class="controls">
					<span id="contactPersonId">{{showNAIfNoValue
						data.contactPersonId}}</span>
				</div>
			</div>
		</div>
		<div class='col-sm-2'>
			<div class='form-group'>
				<label class="control-label" for="contactPersonName"> {{t
					"Gloria.i18n.material.details.text.contactPersonName"}}: </label>
				<div class="controls">
					<span id="contactPersonName">{{showNAIfNoValue
						data.contactPersonName}}</span>
				</div>
			</div>
		</div>
		<div class='col-sm-2'>
			<div class='form-group'>
				<label class="control-label" for="requesterUserId"> {{t
					"Gloria.i18n.material.details.text.requesterUserId"}}: </label>
				<div class="controls">
					<span id="requesterUserId">{{showNAIfNoValue
						data.requesterUserId}}</span>
				</div>
			</div>
		</div>
		<div class='col-sm-2'>
			<div class='form-group'>
				<label class="control-label" for="requesterName"> {{t
					"Gloria.i18n.material.details.text.requesterName"}}: </label>
				<div class="controls">
					<span id="requesterName">{{showNAIfNoValue
						data.requesterName}}</span>
				</div>
			</div>
		</div>
		<div class='col-sm-2'>
			<div class='form-group'>
				<label class="control-label" for="materialControllerId"> {{t
					"Gloria.i18n.material.details.text.materialControllerId"}}: </label>
				<div class="controls">
					<span id="materialControllerId">{{showNAIfNoValue
						data.materialControllerUserId}}</span>
				</div>
			</div>
		</div>
		<div class='col-sm-2'>
			<div class='form-group'>
				<label class="control-label" for="materialControllerName">
					{{t "Gloria.i18n.material.details.text.materialControllerName"}}: </label>
				<div class="controls">
					<span id="materialControllerName">{{showNAIfNoValue
						data.materialControllerName}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='col-sm-2'>
			<div class='form-group'>
				<label class="control-label" for="deliveryControllerId"> {{t
					"Gloria.i18n.material.details.text.deliveryControllerId"}}: </label>
				<div class="controls">
					<span id="deliveryControllerId">{{showNAIfNoValue
						data.deliveryControllerUserId}}</span>
				</div>
			</div>
		</div>
		<div class='col-sm-2'>
			<div class='form-group'>
				<label class="control-label" for="deliveryControllerName">
					{{t "Gloria.i18n.material.details.text.deliveryControllerName"}}: </label>
				<div class="controls">
					<span id="deliveryControllerName">{{showNAIfNoValue
						data.deliveryControllerUserName}}</span>
				</div>
			</div>
		</div>
	</div>
</div>