<div class="tabbable" id="receiveTab">
	<ul class="nav nav-pills">
		<li {{#if_eq module 'regular'}}  class="active"{{/if_eq}}><a
			href="#regular" data-toggle="tab">{{t
				"Gloria.i18n.warehouse.receive.tab.regular"}}</a></li>
		<li {{#if_eq module 'transfer'}}  class="active"{{/if_eq}}><a
			href="#transfer" data-toggle="tab">{{t
				"Gloria.i18n.warehouse.receive.tab.transfer"}}</a></li>
		<li {{#if_eq module 'return'}}  class="active"{{/if_eq}}><a
			href="#return" data-toggle="tab">{{t
				"Gloria.i18n.warehouse.receive.tab.return"}}</a></li>
		<li {{#if_eq module 'returntransfer'}}  class="active"{{/if_eq}}><a
			href="#returntransfer" data-toggle="tab">{{t
				"Gloria.i18n.warehouse.receive.tab.returntransfer"}}</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane {{#if_eq  module 'regular'}} active {{/if_eq}}"
			id="regular">
			<div id="regularInfo"></div>
		</div>
		<div class="tab-pane {{#if_eq  module 'transfer'}} active {{/if_eq}}"
			id="transfer">
			<div id="transferInfo"></div>
		</div>
		<div class="tab-pane {{#if_eq  module 'return'}} active {{/if_eq}}"
			id="return">
			<div id="returnInfo"></div>
		</div>
		<div class="tab-pane {{#if_eq  module 'returntransfer'}} active {{/if_eq}}"
			id="returntransfer">
			<div id="returntransferInfo"></div>
		</div>
	</div>
</div>
