<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            {{#if addAnother}}<h3>{{t	"Gloria.i18n.warehouse.setup.header.storageRoomAddNewEditViewForm.addheader"}}</h3>
            {{else}}<h3>{{t	"Gloria.i18n.warehouse.setup.header.storageRoomAddNewEditViewForm.editheader"}}</h3>
            {{/if}}
        </div>
        <div class="modal-body">
            <div style="padding-left: 15px; padding-right: 15px;">
			<div id="appModalMessage"><span class="help-inline"></span></div>
                <div class='row'>
                    <div class='col-sm-5'>
                        <div class='form-group'>
                            <div class="controls">
                                {{#if addAnother}}<h4>{{t "Gloria.i18n.warehouse.setup.header.storageRoomAddNewEditViewForm.addNew"}}</h4>
                                {{else}}<h4>{{t	"Gloria.i18n.warehouse.setup.header.storageRoomAddNewEditViewForm.edit"}}</h4>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <form id="storageRoomForm" name="storageRoomForm">
                    <fieldset>
                    	<input name='[id]' type="hidden" value='{{data.id}}'>
                        <div class='row'>
                            <div class='col-sm-5'>
                                <div class='form-group'>
                                    <label class="control-label">
                                        {{t
                                        "Gloria.i18n.warehouse.setup.header.storageRoom.name"}}:
                                    </label>
                                    <div class="controls">
                                     	<input id="name" class='form-control' name="[name]" type='text'  value='{{data.name}}'/>
                                   		<span class="help-inline"></span>
									</div>
                                </div>
                            </div>
                            <div class='col-sm-5'>
                                <div class='form-group'>
                                    <label class="control-label">
                                        {{t
                                        "Gloria.i18n.warehouse.setup.header.storageRoom.code"}}:
                                    </label>
                                    <div class="controls">
                                        <input id="code" class='form-control' name="[code]" type='text' value='{{data.code}}' />
                                   		<span class="help-inline"></span>
								    </div>
                                </div>
                            </div>
                            <div class='col-sm-5'>
                                <div class='form-group'>
                                    <label class="control-label">
                                        {{t
                                        "Gloria.i18n.warehouse.setup.header.storageRoom.description"}}:
                                    </label>
                                    <div class="controls">
                                        <input id="description" class='form-control' name="[description]" type='text'  value='{{data.description}}' />
                                    	<span class="help-inline"></span>
									</div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            {{#if addAnother}}
            <label class="control-label" for="addAnother">
            	<input id="addAnother" type='checkbox' />
                {{t "Gloria.i18n.warehouse.setup.header.storageRoomAddNewEditViewForm.addAnother"}}
            </label>
            {{/if}}<a class="btn btn-primary" id="save-button">{{t "Gloria.i18n.warehouse.setup.header.storageRoomAddNewEditViewForm.save"}}</a>
            <a class="btn btn-default" id="cancel-button">{{t "Gloria.i18n.warehouse.setup.header.storageRoomAddNewEditViewForm.cancel"}}</a>
        </div>
    </div>
</div>

