<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
			<h3>{{t "Gloria.i18n.warehouse.receive.editInfo.header"}}</h3>
		</div>
		<div class="modal-body">
			<div style="padding-left: 15px; padding-right: 15px;">
				<div id="appModalMessage">
					<span class="help-inline"></span>
				</div>
				<div class='row'>
					<div class="alert alert-info">
						<div class="media">
							<div class="pull-left">
								<i class="fa fa-info-circle fa-3x"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading">{{t
									"Gloria.i18n.warehouse.receive.editInfo.textHeader"}}</h4>
								<div>{{t
									"Gloria.i18n.warehouse.receive.editInfo.textBody"}}</div>
							</div>
						</div>
					</div>
				</div>
				<form id="edit-info-form" name="edit-info-form">
					<fieldset>
						<div id="transportLabel" class='row'>
							<div class='col-sm-6'>
								<div class='form-group'>
									<label class="control-label"> {{t
										"Gloria.i18n.warehouse.receive.editInfo.tl"}}: </label>
									<div class="controls">
										<select id="view-select" name="view-select"
											class="form-control" required> {{{renderTLSelector
											items}}}
										</select>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" id="save">{{t
				"Gloria.i18n.buttons.save"}}</button>
			<button type="button" class="btn btn-default" id="cancel">
				{{t "Gloria.i18n.buttons.cancel"}}</button>
		</div>
	</div>
</div>
