<input type="hidden" name='adjustedDelivery[{{id}}][{{count}}][id]'
	value='{{id}}_{{count}}'>
<div class='row'>
	<div class='col-sm-4'>
		<div class='form-group'>
			<div class="controls">
				<input type="number" min="0" step="1" max="99999"
					id='expectedQuantity{{id}}_{{count}}'
					name='adjustedDelivery[{{id}}][{{count}}][expectedQuantity]'
					class="form-control">
			</div>
		</div>
	</div>
	<div class='col-sm-4'>
		<div class='form-group'>
			<div class='input-group date'>
				<input type="text" class="expectedDate js-date form-control"
					id='expectedDate{{id}}_{{count}}'
					name='adjustedDelivery[{{id}}][{{count}}][expectedDate]'> <span
					class="input-group-addon"><span
					class="glyphicon glyphicon-calendar"></span></span>
			</div>
		</div>
	</div>
	<div class='col-sm-4'>
		<div class='form-group'>
			<div class="controls">
				<a class="btn btn-default" id="remove{{id}}_{{count}}"><i
					class="glyphicon glyphicon-remove"></i></a>
			</div>
		</div>
	</div>
</div>
