<div class="well well-small">
	<div class="row">
		<div class="col-sm-2">
			<div class="form-group">
				<label class="control-label" for="project"> {{t
					"Gloria.i18n.warehouse.qualityInspection.details.text.PartInfo.project"}}:
				</label>
				<div class="controls">
					<span id="project">{{data.projectId}}</span>
				</div>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="form-group">
				<label class="control-label" for="partAffiliation"> {{t
					"Gloria.i18n.warehouse.qualityInspection.details.text.PartInfo.partAffiliation"}}:
				</label>
				<div class="controls">
					<span id="partAffiliation">{{data.partAffiliation}}</span>
				</div>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="form-group">
				<label class="control-label" for="partNumber"> {{t
					"Gloria.i18n.warehouse.qualityInspection.details.text.PartInfo.partNumber"}}:
				</label>
				<div class="controls">
					<span id="partNumber">{{data.partNumber}}</span>
				</div>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="form-group">
				<label class="control-label" for="partVersion"> {{t
					"Gloria.i18n.warehouse.qualityInspection.details.text.PartInfo.partVersion"}}:
				</label>
				<div class="controls">
					<input id="partVersion" value="{{data.partVersion}}"
						name="deliveryNoteLine[partVersion]" class="form-control" />
				</div>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="form-group">
				<label class="control-label" for="partName"> {{t
					"Gloria.i18n.warehouse.qualityInspection.details.text.PartInfo.partName"}}:
				</label>
				<div class="controls">
					<span id="partName">{{data.partName}}</span>
				</div>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="form-group">
				<label class="control-label" for="partModification"> {{t
					"Gloria.i18n.warehouse.qualityInspection.details.text.PartInfo.partModification"}}:
				</label>
				<div class="controls">
					<span id="partModification">{{data.partModification}}</span>
				</div>
			</div>
		</div>
	</div>
</div>